body{
    font-family: 'Source Sans Pro', sans-serif !important;
    margin: 0;
}
section {
  display: flex;
  justify-content: center;
  align-content: center;
  width: 100%;
  margin: 0;
}
header.row{
    margin:0;
    height: 8rem;
    }
    
header {
  margin: 0;
  width: 100%;
  display: flex;
  justify-content: center;
}
header.row nav {
  justify-content: space-around;
}
header.row a {
  color: #212529;
  text-decoration: none;
  font-weight: 600;
  font-size: 1.2rem;
}
header.row a:hover {
  color: #bc2626;
}
ul {
  list-style-type: none;
}
ul.dropdown-menu{
    margin:0;
}
ul.dropdown-menu a{
    padding: 0.5rem;
}
.dropdown-item:active {
    background-color: white;
}
section#section_food{
    height: 5rem;
    display: flex;
    justify-content: center;
}
#section_food nav {
  width: 60%;
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 600;
  font-size: 1.2rem;
}
a.navbar-brand img {
  width: 15rem;
}
#section_food a{
    color: #343a40;
    font-weight: 500;
    text-decoration: none;
}
#section_food a:hover {
  color: #e87658;
}
footer{
    background-color: #f8f9fa;
    margin: 0;
    padding: 0;
    width: 100%;
    border-top: #212529 2px;
}
footer img{
    width: 12rem;
    padding: 1rem;
}
footer.container{
    width: 100%;
    background-color: #f8f9fa;
}
/* INDEX */
div.homecardThumb {
  width: 18rem;
}
div.homecardThumb img {
  padding-top: 1rem;
  padding-right: 1rem;
  padding-left: 1rem;
}
div.homecardThumb a.btn-primary {
  color: #212529;
  background-color: white;
  border-color: #212529;
}

nav li.dropdown:hover .dropdown-menu{
    display: block;
    border:none;
}

div.text-white h1{
    font-size: 6rem;
    font-weight: 600;
}
div.text-white a{
    font-size: 1.5rem;
    font-weight: 600;
}
div.text-white{
    margin-top:20rem;
}


/* RECIPES */

/* SINGLE PAGE */

.container {
}

.row{
    text-align: center;
    justify-content: center;
}

.image {
    background-image: url("./img/american_pancakes.jpg");
    background-position: center;
    min-height: 23rem;
    background-repeat: no-repeat;
}

.mealtitle{
    color: white;
    justify-content: center !important;    
    padding-top: 20rem;   
    font-style: italic;
    text-shadow: 5px 5px 10px #e87658, 1px 1px 5px black
}

.icons{
   justify-content: center;
    font-size: 1.2rem; 
    color: white; 
    text-shadow: 5px 5px 10px #e87658}
}

.top {
    padding-top: 2rem;
}



/* Grid Recipes */

.carouselTop {
  height: 10px;
}

.gridRow .col-12 {
  justify-content: center;
  display: grid;
}

.gridRow .col-4 {
  justify-content: center;
  display: grid;
}

.gridRow .col-4:hover {
}

.gridRow {
}

.gridCol {
}

.gridCard {
  position: relative;
  overflow: hidden;
  background-color: rgb(255, 255, 255);
  margin: auto;
}

.middle {
  transition: 0.5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.gridCard:hover .homecardThumb {
  opacity: 0.7;
}

.gridCol:hover a {
  color: #bc2626;
}

.item:hover a {
  color: #bc2626;
}

.gridCard:hover .middle {
  opacity: 1;
}

.mText {
  color: white;
  font-size: 20px;
  padding: 16px 32px;
}

.gridRow a,
.item a {
  color: black;
}

/* Karousel */

.carousel {
  margin: 50px auto;
  max-width: 100%;
  width: 100%;
}

.item {
  display: flex;
  justify-content: center;
}

